@import '../scss/mixin';

// class rời tạc
.play__board {
   color: var(--font-color);
}

.box {
   width: var(--canvas-width) !important;
   height: var(--canvas-height) !important;
   border: 0.1rem solid var(--primary-color);
   box-shadow: 0 0 1rem var(--primary-color);
   background-color: var(--bg-color);
   overflow: hidden;
   border-radius: 1rem;
   color: var(--font-color);
   font-size: 1rem;
   padding: 1rem;
}

.start_box {
   width: 100%;
   padding: 2rem 0rem;
   @include flexbox(row, flex-start);
   .start_item {
      display: inline-block;
      margin-right: 2rem;
      font-size: 1rem;
      padding: 0.3rem 2rem;
      border-radius: 999rem;
      border: 0.2rem solid var(--font-color);
      background-color: var(--primary-color);
      color: var(--font-color);
      &:hover {
         cursor: pointer;
      }
   }
}

.infor__container {
   $height: calc(var(--game-height) - var(--canvas-height));
   width: 100%;
   height: $height;
   border: 0.1rem solid var(--font-color);
   background-color: var(--primary-color);
   color: var(--bg-color);
   border-radius: 1rem;
   box-shadow: inset 0 0 0.5rem var(--bg-color);
   margin-bottom: 0.5rem;
   @include flexbox(row, space-between);
   .infor {
      display: flex;
      line-height: $height;
      font-size: 1.5rem;
   }
   .score,
   .lives,
   #time_play {
      padding: 0px 20px;
   }
}

#Canvas {
   padding: 0rem;
   border-left: none;
   cursor: crosshair;
}

.tutorial_box {
   box-shadow: 0 0 1rem var(--primary-color);
   li {
      font-size: 1rem;
      padding-left: 5%;
      ul {
         font-size: 1rem;
      }
   }
}

.infor_current_player {
   text-align: center;
   min-height: 400px;
   max-height: 450px;
   @include flexbox(row, space-between, flex-start);
   .main_infor_player {
      width: 40%;
      height: 100%;
      padding: 0rem 5rem;
      .avatar {
         width: 100%;
         text-align: center;
         margin: 2rem 0rem;
         img {
            width: 10rem;
            height: 10rem;
            border-radius: 2rem;
            box-shadow: 0 0 1rem var(--primary-color);
            &:hover {
               transition: 0.7s;
               box-shadow: 0 0 2rem var(--primary-color);
            }
         }
      }
      .name,
      .email {
         width: 100%;
         text-align: left;
         font-size: 1rem;
         margin-bottom: 0.5rem;
         font-weight: bold;
         color: var(--font-color);
         background-color: var(--primary-color);
         padding: 0.5rem 1rem;
         border-radius: 0.5rem;
         position: relative;
         @include border_start_left_right(3px, var(--font-color), 0.7s);
         i {
            font-size: 1rem;
         }
      }
      .something {
         width: 100%;
         border-radius: 1rem;
         border: 0.1rem solid var(--font-color);
         padding: 1rem;
         margin-top: 1rem;
         font-size: 1rem;
         i {
            font-size: 1rem;
         }
      }
   }

   .history_box {
      width: 60%;
      height: 100%;
      padding-right: 3rem;
      text-align: center;
      .title {
         margin: 2rem 0rem;
      }
   }

   table {
      max-height: 350px;
      overflow-y: auto;
      @include scrollbar_style(5px, var(--bg-color), var(--primary-color));
      width: 100%;
   }

   table,
   tr,
   td {
      border-collapse: collapse;
      border-color: var(--bg-color);
      padding: 0.5rem 1.5rem;
   }
   .history_item {
      width: 100%;
      &:hover {
         background-color: var(--heading-color);
         color: var(--bg-color);
      }
   }
   td {
      text-align: center;
      font-size: 1rem;
      border: 0rem;
      border-bottom: 0.2rem solid var(--font-color);
   }
   thead {
      background-color: var(--primary-color);
      border-top: 0.2rem solid var(--font-color);
   }
}

.loser {
   position: relative;
   #submit_score {
      position: absolute;
      top: 1rem;
      right: 1rem;
   }
   h2 {
      font-size: 1rem;
   }
   .start_box {
      @include flexbox(row, center);
   }
}

.history_match {
   border-radius: 0rem;
   overflow-y: scroll;
   @include scrollbar_style(5px, var(--bg-color), var(--font-color));
   padding-top: 2rem;
   @include flexbox(column, flex-start);
   .lose_player {
      width: 100%;
   }

   table,
   tr,
   td {
      border-collapse: collapse;
      border-color: var(--bg-color);
      padding: 0.5rem 1.5rem;
   }
   .history_box {
      max-height: calc(70% * var(--canvas-height));
   }
   .history_item {
      width: 100%;
      &:hover {
         background-color: var(--heading-color);
         color: var(--bg-color);
      }
   }
   td {
      text-align: center;
      font-size: 1rem;
      border: 0rem;
      border-bottom: 0.2rem solid var(--font-color);
   }
   thead {
      background-color: var(--primary-color);
      border-top: 0.2rem solid var(--font-color);
   }
   .start_box {
      @include flexbox(row, center);
   }
}

@media screen and (max-width: 1050px) {
   .box {
      width: var(--game-width) !important;
      height: var(--game-height) !important;
   }
   .footer {
      display: none;
   }
}
