@charset "UTF-8";
:root {
  --min_width_moble: 480px;
  --min_width_tablet: 961px;
  --min_width_desktop: 1281px;
}

/*Set size element*/
/*custom select text*/
/*CSS Opacity với dự phòng cho IE8+*/
/*media*/
/**/
/*Paint Element*/
:root {
  --game-height: 500px;
  --game-width: 1400px;
  --canvas-height: 450px;
  --canvas-width: 1200px;
  --rank-height: 120px;
  --primary-color: "#0d0b52";
  --secondary-color: "#3458b9";
  --font-color: "#424242";
  --bg-color: "#ffffff";
  --heading-color: "#292922";
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  min-width: 100%;
  min-width: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.display_none {
  display: none !important;
}

.display_block {
  display: block !important;
}

.dark_theme {
  background-color: var(--bg-color);
  background-image:
    radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size:
    550px 550px,
    350px 350px,
    250px 250px,
    150px 150px;
  background-position:
    0 0,
    40px 60px,
    130px 270px,
    70px 100px;
}

.light_theme {
  background:
    radial-gradient(var(--bg-color) 3px, transparent 4px),
    radial-gradient(var(--bg-color) 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    #fff;
  background-size:
    109px 109px,
    109px 109px,
    100% 6px,
    109px 109px,
    109px 109px;
  background-position:
    54px 55px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px;
}

.navbar {
  width: var(--game-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0.5rem 0rem !important;
}

.navbar .nav__item {
  padding: 0.3rem 2rem;
  margin-left: 0.5rem;
  border: 0.1rem solid var(--font-color);
  border-radius: 0.5rem;
  color: var(--font-color);
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.navbar .nav__item i {
  font-size: 1rem;
}

.navbar .nav__item:hover {
  color: var(--bg-color);
  background-color: var(--font-color);
}

.navbar #title_game {
  margin-left: 0rem;
  margin-right: auto;
  font-size: 2rem;
  padding: 0rem 2rem;
  border-radius: 999rem;
  font-weight: 900;
  background-color: var(--bg-color);
  border-top: 0rem;
  border-bottom: 2px solid var(--font-color);
  text-shadow: 0rem 0rem 0.5rem var(--primary-color);
}

:root {
  --min_width_moble: 480px;
  --min_width_tablet: 961px;
  --min_width_desktop: 1281px;
}

/*Set size element*/
/*custom select text*/
/*CSS Opacity với dự phòng cho IE8+*/
/*media*/
/**/
/*Paint Element*/
.rank__container {
  width: var(--game-width);
  height: var(--rank-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 1rem;
  border: 0.2rem solid var(--primary-color);
  -webkit-box-shadow: 0 0 1rem var(--primary-color);
  box-shadow: 0 0 1rem var(--primary-color);
  margin-bottom: 1rem;
}

.rank__container .rank {
  width: calc(var(--game-width) / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0rem 0.5rem;
}

.rank__container .rank .rank__title {
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--bg-color);
}

.rank__container .rank .rank__title i {
  margin-right: 0.5rem;
  font-size: 1.4rem;
}

.rank__container .rank .player_box {
  width: 100%;
  height: calc(var(--rank-height));
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--secondary-color);
  border-top: 0.1rem dotted var(--font-color);
  border-bottom: 0.1rem dotted var(--font-color);
  padding: 0rem 10rem 0rem 0rem;
}

.rank__container .rank .player_box::-webkit-scrollbar {
  width: 5px;
}

.rank__container .rank .player_box::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

.rank__container .rank .player_box::-webkit-scrollbar-thumb {
  background-color: var(--font-color);
}

.rank__container .rank .player_box .player {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
}

.rank__container .rank .player_box .player > * {
  margin-right: 10px;
  font-size: 1rem;
  opacity: 0.2;
}

.rank__container .rank .player_box .player:nth-child(1) {
  color: gold;
  font-weight: bold;
}

.rank__container .rank .player_box .player:nth-child(1) > * {
  opacity: 1 !important;
}

.rank__container .rank .player_box .player:nth-child(2) {
  color: silver;
  font-weight: bold;
}

.rank__container .rank .player_box .player:nth-child(2) > * {
  opacity: 1 !important;
}

.rank__container .rank .player_box .player:nth-child(3) {
  color: darkgoldenrod;
  font-weight: bold;
}

.rank__container .rank .player_box .player:nth-child(3) > * {
  opacity: 1 !important;
}

@media screen and (max-width: 1050px) {
  .rank__container {
    display: none;
  }
}

.main__container {
  width: var(--game-width);
  height: var(--game-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  /*Set size element*/
  /*custom select text*/
  /*CSS Opacity với dự phòng cho IE8+*/
  /*media*/
  /**/
  /*Paint Element*/
  /*Set size element*/
  /*custom select text*/
  /*CSS Opacity với dự phòng cho IE8+*/
  /*media*/
  /**/
  /*Paint Element*/
}

.main__container :root {
  --min_width_moble: 480px;
  --min_width_tablet: 961px;
  --min_width_desktop: 1281px;
}

.main__container .control_container {
  width: calc(var(--game-width) - var(--canvas-width));
  height: var(--game-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-right: 1rem;
}

.main__container .control_container .control__box {
  width: 100%;
}

.main__container .control_container .control__box .control {
  width: 100%;
  height: 50px;
  position: relative;
  border-bottom: 2px solid var(--font-color);
}

.main__container .control_container .control__box .control:nth-child(1) {
  border-top: 2px solid var(--font-color);
}

.main__container .control_container .control__box .control .control__title {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-weight: 600px;
  background-color: var(--primary-color);
  font-size: 1rem;
  padding-left: 1rem;
  border-left: 1rem solid var(--font-color);
}

.main__container .control_container .control__box .control .control__title i {
  margin-right: 0.7rem;
  font-size: 1rem;
}

.main__container .control_container .control__box .control .control__title:hover {
  cursor: pointer;
  background-color: var(--bg-color);
}

.main__container .control_container .control__box .control .item_box {
  position: absolute;
  top: 0%;
  left: 100%;
  width: 100%;
  background-color: var(--bg-color);
  border: 0.1rem solid var(--font-color);
  border-left: 5px solid var(--font-color);
  display: none;
}

.main__container .control_container .control__box .control .item_box .item {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-weight: 600px;
  font-size: 1rem;
  padding-left: 1rem;
  border-bottom: 2px solid var(--font-color);
}

.main__container .control_container .control__box .control .item_box .item:nth-child(1) {
  border-top: 2px solid var(--font-color);
}

.main__container .control_container .control__box .control .item_box .item i {
  margin-right: 0.7rem;
  font-size: 1rem;
}

.main__container .control_container .control__box .control .item_box .item:hover {
  cursor: pointer;
  color: var(--bg-color);
  background-color: var(--font-color);
}

.main__container .control_container .control__box .control:hover .control__title {
  width: calc(100% + 20px);
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

.main__container .control_container .control__box .control:hover .control__title {
  background-color: var(--bg-color);
}

.main__container .control_container .control__box .control:hover .item_box {
  display: block;
  z-index: 1;
}

.main__container .control_container .control__box .control.rank .item_box .item {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.main__container .control_container .match_box {
  width: 100%;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  padding: 0.5rem;
}

.main__container .control_container .match_box .mem {
  font-size: 1rem;
  width: 100%;
}

.main__container .control_container .match_box .mem:nth-child(1) {
  text-align: left;
}

.main__container .control_container .match_box .mem:nth-child(2) {
  text-align: center;
}

.main__container .control_container .match_box .mem:nth-child(2) i {
  font-size: 1rem;
}

.main__container .control_container .match_box .mem:nth-child(3) {
  text-align: right;
}

.main__container .control_container .play__box {
  width: 100%;
  height: 50px;
  margin-top: auto;
}

.main__container .control_container .play__box #play {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--color);
  font-size: 1rem;
  font-weight: 600;
  border: 0.2rem solid var(--font-color);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  border-radius: 1.5rem;
}

.main__container .control_container .play__box #play i {
  margin-right: 0.7rem;
  font-size: 1rem;
}

.main__container .control_container .play__box #play:hover {
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .main__container .control_container {
    width: var(--game-width);
    height: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 0rem;
  }
  .main__container .control_container .control__box {
    width: var(--game-width);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border-top: 0.2rem solid var(--font-color);
    border-bottom: 0.2rem solid var(--font-color);
    border-left: 0.2rem solid var(--bg-color);
    border-right: 0.2rem solid var(--bg-color);
    margin-bottom: 0.5rem;
  }
  .main__container .control_container .control__box .control {
    width: 100%;
    height: 30px;
    position: relative;
    border-radius: none;
    border-bottom: none;
  }
  .main__container .control_container .control__box .control:nth-child(1) {
    border-top: none;
  }
  .main__container .control_container .control__box .control .control__title {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border-left: none;
  }
  .main__container .control_container .control__box .control .item_box {
    top: 100%;
    left: 0;
    border-left: none;
    display: none;
  }
  .main__container .control_container .control__box .control .item_box .item {
    height: 30px;
  }
  .main__container .control_container .control__box .control:hover .control__title {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .main__container .control_container .match_box {
    display: none;
  }
  .main__container .control_container .play__box {
    display: none;
  }
}

.main__container :root {
  --min_width_moble: 480px;
  --min_width_tablet: 961px;
  --min_width_desktop: 1281px;
}

.main__container .play__board {
  color: var(--font-color);
}

.main__container .box {
  width: var(--canvas-width);
  height: var(--canvas-height);
  border: 0.1rem solid var(--primary-color);
  -webkit-box-shadow: 0 0 1rem var(--primary-color);
  box-shadow: 0 0 1rem var(--primary-color);
  background-color: var(--bg-color);
  overflow: hidden;
  border-radius: 1rem;
  color: var(--font-color);
  font-size: 1rem;
  padding: 1rem;
}

.main__container .start_box {
  width: 100%;
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.main__container .start_box .start_item {
  display: inline-block;
  margin-right: 2rem;
  font-size: 1rem;
  padding: 0.3rem 2rem;
  border-radius: 999rem;
  border: 0.2rem solid var(--font-color);
  background-color: var(--primary-color);
  color: var(--font-color);
}

.main__container .start_box .start_item:hover {
  cursor: pointer;
}

.main__container .infor__container {
  width: 100%;
  height: calc(var(--game-height) - var(--canvas-height));
  border: 0.1rem solid var(--font-color);
  background-color: var(--primary-color);
  color: var(--bg-color);
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 0.5rem var(--bg-color);
  box-shadow: inset 0 0 0.5rem var(--bg-color);
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.main__container .infor__container .infor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: calc(var(--game-height) - var(--canvas-height));
  font-size: 1.5rem;
}

.main__container .infor__container .score,
.main__container .infor__container .lives,
.main__container .infor__container #time_play {
  padding: 0px 20px;
}

.main__container #Canvas {
  padding: 0rem;
  border-left: none;
  cursor: crosshair;
}

.main__container .tutorial_box {
  -webkit-box-shadow: 0 0 1rem var(--primary-color);
  box-shadow: 0 0 1rem var(--primary-color);
}

.main__container .tutorial_box li {
  font-size: 1rem;
  padding-left: 5%;
}

.main__container .tutorial_box li ul {
  font-size: 1rem;
}

.main__container .infor_current_player {
  text-align: center;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.main__container .infor_current_player .main_infor_player {
  width: 50%;
  height: 100%;
  padding: 0rem 10rem;
}

.main__container .infor_current_player .main_infor_player .avatar {
  width: 100%;
  text-align: center;
  margin: 2rem 0rem;
}

.main__container .infor_current_player .main_infor_player .avatar img {
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0 1rem var(--primary-color);
  box-shadow: 0 0 1rem var(--primary-color);
}

.main__container .infor_current_player .main_infor_player .avatar img:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-box-shadow: 0 0 2rem var(--primary-color);
  box-shadow: 0 0 2rem var(--primary-color);
}

.main__container .infor_current_player .main_infor_player .name,
.main__container .infor_current_player .main_infor_player .email {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--font-color);
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
}

.main__container .infor_current_player .main_infor_player .name:after,
.main__container .infor_current_player .main_infor_player .email:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  border-radius: 999px;
  background-color: var(--font-color);
  -webkit-transition: 0.7s all ease;
  transition: 0.7s all ease;
}

.main__container .infor_current_player .main_infor_player .name:hover:after,
.main__container .infor_current_player .main_infor_player .email:hover:after {
  width: 100%;
}

.main__container .infor_current_player .main_infor_player .name i,
.main__container .infor_current_player .main_infor_player .email i {
  font-size: 1rem;
}

.main__container .infor_current_player .main_infor_player .something {
  width: 100%;
  border-radius: 1rem;
  border: 0.1rem solid var(--font-color);
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
}

.main__container .infor_current_player .main_infor_player .something i {
  font-size: 1rem;
}

.main__container .infor_current_player .history_box {
  width: 50%;
  height: 100%;
  background-color: var(--heading-color);
  text-align: center;
  padding: 2rem;
  border: 0.2rem solid var(--font-color);
}

.main__container .infor_current_player table {
  width: 100%;
}

.main__container .infor_current_player table,
.main__container .infor_current_player tr,
.main__container .infor_current_player td {
  border-collapse: collapse;
  border-color: var(--bg-color);
  padding: 0.5rem 1.5rem;
}

.main__container .infor_current_player .history_item {
  width: 100%;
}

.main__container .infor_current_player .history_item:hover {
  background-color: var(--heading-color);
  color: var(--bg-color);
}

.main__container .infor_current_player td {
  text-align: center;
  font-size: 1rem;
  border: 0rem;
  border-bottom: 0.2rem solid var(--font-color);
}

.main__container .infor_current_player thead {
  background-color: var(--primary-color);
  border-top: 0.2rem solid var(--font-color);
}

.main__container .loser {
  position: relative;
}

.main__container .loser #submit_score {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.main__container .loser h2 {
  font-size: 1rem;
}

.main__container .loser .start_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.main__container .history_match {
  width: 100%;
  border-radius: 0rem;
  overflow-y: scroll;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.main__container .history_match::-webkit-scrollbar {
  width: 5px;
}

.main__container .history_match::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

.main__container .history_match::-webkit-scrollbar-thumb {
  background-color: var(--font-color);
}

.main__container .history_match .lose_player {
  width: 100%;
}

.main__container .history_match table,
.main__container .history_match tr,
.main__container .history_match td {
  border-collapse: collapse;
  border-color: var(--bg-color);
  padding: 0.5rem 1.5rem;
}

.main__container .history_match .history_box {
  max-height: calc(70% * var(--canvas-height));
}

.main__container .history_match .history_item {
  width: 100%;
}

.main__container .history_match .history_item:hover {
  background-color: var(--heading-color);
  color: var(--bg-color);
}

.main__container .history_match td {
  text-align: center;
  font-size: 1rem;
  border: 0rem;
  border-bottom: 0.2rem solid var(--font-color);
}

.main__container .history_match thead {
  background-color: var(--primary-color);
  border-top: 0.2rem solid var(--font-color);
}

.main__container .history_match .start_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1050px) {
  .main__container .box {
    width: var(--game-width) !important;
    height: var(--game-height) !important;
  }
  .main__container .footer {
    display: none;
  }
}

.footer {
  width: var(--game-width);
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 999rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-betweent;
  -ms-flex-pack: space-betweent;
  justify-content: space-betweent;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: var(--primary-color);
  -webkit-box-shadow: 0 0 1rem var(--primary-color);
  box-shadow: 0 0 1rem var(--primary-color);
  border-bottom: 0.2rem solid var(--font-color);
}

.footer * {
  font-size: 1rem;
}

.footer .social-box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-betweent;
  -ms-flex-pack: space-betweent;
  justify-content: space-betweent;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.footer .social-box span {
  color: var(--font-color);
  font-weight: bolder;
  margin-right: 0.5rem;
}

.footer .social-box .social-item {
  margin: 0rem 0.5rem;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 0.1rem;
  color: var(--font-color);
  cursor: pointer;
}

.footer .social-box .social-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 0.1rem;
  width: 0;
  background: var(--font-color);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.footer .social-box .social-item:hover:after {
  width: 100%;
}

.footer .copyright {
  width: 50%;
  text-align: right;
  font-weight: bolder;
  color: var(--font-color);
}

@media screen and (max-width: 1050px) {
  :root {
    --game-height: 450px;
    --game-width: 700px;
    --canvas-height: 420px;
    --canvas-width: 550px;
  }
  .play__board {
    width: var(--game-width);
    height: var(--game-height);
  }
  .play__board .infor__container {
    width: 100%;
    height: calc(var(--game-height) - var(--canvas-height));
  }
  .play__board #Canvas {
    width: var(--game-width);
    height: var(--game-height);
  }
  .main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
/*# sourceMappingURL=style.css.map */
