@import "../scss/mixin";

:root {
  --game-height: 500px;
  --game-width: 1400px;
  --canvas-height: 450px;
  --canvas-width: 1200px;
  --rank-height: 120px;
  --primary-color: "#0d0b52";
  --secondary-color: "#3458b9";
  --font-color: "#424242";
  --bg-color: "#ffffff";
  --heading-color: "#292922";
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  min-width: 100%;
  min-width: 100vh;
  @include flexbox(column, flex-start);
  font-size: 16px;
  user-select: none;
}

// other class
.display_none {
  display: none !important;
}

.display_block {
  display: block !important;
}

.dark_theme {
  background-color: var(--bg-color);
  background-image:
    radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size:
    550px 550px,
    350px 350px,
    250px 250px,
    150px 150px;
  background-position:
    0 0,
    40px 60px,
    130px 270px,
    70px 100px;
}

.light_theme {
  background:
    radial-gradient(var(--bg-color) 3px, transparent 4px),
    radial-gradient(var(--bg-color) 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    #fff;
  background-size:
    109px 109px,
    109px 109px,
    100% 6px,
    109px 109px,
    109px 109px;
  background-position:
    54px 55px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px;
}

.navbar {
  width: var(--game-width);
  @include flexbox(row, flex-end);
  margin: 0.5rem 0rem !important;
  .nav__item {
    padding: 0.3rem 2rem;
    margin-left: 0.5rem;
    border: 0.1rem solid var(--font-color);
    border-radius: 0.5rem;
    color: var(--font-color);
    background-color: var(--primary-color);
    cursor: pointer;
    @include flexbox();
    i {
      font-size: 1rem;
    }
    &:hover {
      color: var(--bg-color);
      background-color: var(--font-color);
    }
  }
  #title_game {
    margin-left: 0rem;
    margin-right: auto;
    font-size: 2rem;
    padding: 0rem 2rem;
    border-radius: 999rem;
    font-weight: 900;
    background-color: var(--bg-color);
    border-top: 0rem;
    border-bottom: 2px solid var(--font-color);
    text-shadow: 0rem 0rem 0.5rem var(--primary-color);
  }
}

@import "./rank_component";

.main__container {
  width: var(--game-width);
  height: var(--game-height);
  @include flexbox(row);
  @import "./control";
  @import "./play_board";
}

//footer

.footer {
  width: var(--game-width);
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 999rem;
  @include flexbox(row, space-betweent);
  background-color: var(--primary-color);
  box-shadow: 0 0 1rem var(--primary-color);
  border-bottom: 0.2rem solid var(--font-color);
  & * {
    font-size: 1rem;
  }
  .social-box {
    width: 50%;
    @include flexbox(row, space-betweent);
    span {
      color: var(--font-color);
      font-weight: bolder;
      margin-right: 0.5rem;
    }
    .social-item {
      margin: 0rem 0.5rem;
      position: relative;
      width: max-content;
      padding-bottom: 0.1rem;
      color: var(--font-color);
      @include border_start_center(0.1rem, var(--font-color));
    }
  }
  .copyright {
    width: 50%;
    text-align: right;
    font-weight: bolder;
    color: var(--font-color);
  }
}

// responsive
@media screen and (max-width: 1050px) {
  :root {
    --game-height: 450px;
    --game-width: 700px;
    --canvas-height: 420px;
    --canvas-width: 550px;
  }
  .play__board {
    width: var(--game-width);
    height: var(--game-height);
    .infor__container {
      $height: calc(var(--game-height) - var(--canvas-height));
      width: 100%;
      height: $height;
    }
    #Canvas {
      width: var(--game-width);
      height: var(--game-height);
    }
  }
  .main__container {
    @include flexbox(column);
  }
}
