<div class="control_container">
   <div class="control__box">
      <div class="control level" title="Level">
         <div class="control__title" id="level"><i class="fas fa-laugh-beam"></i> Easy</div>
         <div class="item_box">
            <div class="item easy" id="easy"><i class="fas fa-laugh-beam"></i> Easy</div>
            <div class="item medium" id="medium"><i class="fas fa-laugh"></i> Medium</div>
            <div class="item hard" id="hard"><i class="fas fa-tired"></i> Hard</div>
         </div>
      </div>
      <div class="control speed" title="Speed">
         <div class="control__title" id="speed"><i class="fas fa-tachometer-alt"></i>Speed x1</div>
         <div class="item_box">
            <div class="item" id="speedx1"><i class="fas fa-tachometer-alt"></i>Speed x1</div>
            <div class="item" id="speedx2"><i class="fas fa-tachometer-alt"></i>Speed x2</div>
            <div class="item" id="speedx3"><i class="fas fa-tachometer-alt"></i>Speed x3</div>
         </div>
      </div>
      <div class="control count_player" title="State play">
         <div class="control__title" id="player"><i class="fas fa-user"></i> Player</div>
         <div class="item_box">
            <div class="item" id="state_alone"><i class="fas fa-user"></i> Player</div>
            <div class="item" id="state_partner">
               <i class="fas fa-user"></i><i class="fas fa-user"></i> Player
            </div>
         </div>
      </div>
      <div class="control Tutorial" title="Tutorial">
         <div class="control__title" id="tutorial"><i class="fas fa-book"></i> Tutorial</div>
      </div>
   </div>
   <div class="match_box">
      <div class="mem">Player 1</div>
      <div class="mem"><i class="fab fa-d-and-d"></i></div>
      <div class="mem">Player 2</div>
   </div>
   <div class="play__box">
      <button id="play">Start</button>
   </div>
</div>
