<footer class="row footer">
   <div class="col-12 col-md-6 social-box">
      <span>Contact me with</span>
      <a class="social-item"> <i class="fab fa-facebook-square"></i> Facebook </a>
      <a class="social-item"> <i class="fas fa-envelope"></i> Gmail </a>
      <a class="social-item"> <i class="fab fa-github"></i> Github </a>
   </div>
   <div class="col-12 col-md-6 copyright">
      <i class="far fa-copyright"></i> Copyright NguyenNam 2021
   </div>
</footer>
