<div class="rank__container">
   <div class="rank easy">
      <div class="rank__title"><i class="fas fa-users"></i>Easy Rank</div>
      <div class="player_box">
         <div class="player">
            <i class="fas fa-trophy"></i>
            <div class="player_name">Nam</div>
            <div class="player_time-play">24510</div>
            <div class="player_day">00:34:00</div>
         </div>
         <div class="player">
            <i class="fas fa-trophy"></i>
            <div class="player_name">Nam</div>
            <div class="player_time-play">19120</div>
            <div class="player_day">00:21:01</div>
         </div>
         <div class="player">
            <i class="fas fa-trophy"></i>
            <div class="player_name">Orange</div>
            <div class="player_time-play">6350</div>
            <div class="player_day">00:13:30</div>
         </div>
         <div class="player">
            <div class="player_name">Nam</div>
            <div class="player_time-play">5790</div>
            <div class="player_day">00:10:50</div>
         </div>
         <div class="player">
            <div class="player_name">Nam</div>
            <div class="player_time-play">3400</div>
            <div class="player_day">00:08:56</div>
         </div>
         <div class="player">
            <div class="player_name">Nam</div>
            <div class="player_time-play">2430</div>
            <div class="player_day">00:06:34</div>
         </div>
      </div>
   </div>
   <div class="rank hard">
      <div class="rank__title"><i class="fas fa-user-tie"></i>Hard Rank</div>
      <div class="player_box">
         <div class="player">
            <i class="fas fa-trophy"></i>
            <div class="player_name">Nam</div>
            <div class="player_time-play">24510</div>
            <div class="player_day">00:34:00</div>
         </div>
         <div class="player">
            <i class="fas fa-trophy"></i>
            <div class="player_name">Nam</div>
            <div class="player_time-play">19120</div>
            <div class="player_day">00:21:01</div>
         </div>
         <div class="player">
            <i class="fas fa-trophy"></i>
            <div class="player_name">Orange</div>
            <div class="player_time-play">6350</div>
            <div class="player_day">00:13:30</div>
         </div>
         <div class="player">
            <div class="player_name">Nam</div>
            <div class="player_time-play">5790</div>
            <div class="player_day">00:10:50</div>
         </div>
         <div class="player">
            <div class="player_name">Nam</div>
            <div class="player_time-play">3400</div>
            <div class="player_day">00:08:56</div>
         </div>
         <div class="player">
            <div class="player_name">Nam</div>
            <div class="player_time-play">2430</div>
            <div class="player_day">00:06:34</div>
         </div>
      </div>
   </div>
   <div class="rank medium">
      <div class="rank__title"><i class="fas fa-user-friends"></i> Medium Rank</div>
      <div class="player_box">
         <div class="player">
            <i class="fas fa-trophy"></i>
            <div class="player_name">Nam</div>
            <div class="player_time-play">24510</div>
            <div class="player_day">00:34:00</div>
         </div>
         <div class="player">
            <i class="fas fa-trophy"></i>
            <div class="player_name">Nam</div>
            <div class="player_time-play">19120</div>
            <div class="player_day">00:21:01</div>
         </div>
         <div class="player">
            <i class="fas fa-trophy"></i>
            <div class="player_name">Orange</div>
            <div class="player_time-play">6350</div>
            <div class="player_day">00:13:30</div>
         </div>
         <div class="player">
            <div class="player_name">Nam</div>
            <div class="player_time-play">5790</div>
            <div class="player_day">00:10:50</div>
         </div>
         <div class="player">
            <div class="player_name">Nam</div>
            <div class="player_time-play">3400</div>
            <div class="player_day">00:08:56</div>
         </div>
         <div class="player">
            <div class="player_name">Nam</div>
            <div class="player_time-play">2430</div>
            <div class="player_day">00:06:34</div>
         </div>
      </div>
   </div>
</div>
