@mixin flexbox($direction: row, $content: center, $items: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
  flex-wrap: $wrap;
}

@mixin border_start_center($height_border: 5px, $color_border: black, $time_cycle: 0.5s) {
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: $height_border;
    width: 0;
    background: $color_border;
    transition: $time_cycle all ease;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}


@mixin border_start_left_right($height_border: 5px,
  $color_border: black,
  $time_cycle: 0.5s,
  $start: left) {
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;

    @if $start ==left {
      left: 0;
    }

    @else {
      right: 0;
    }

    height: $height_border;
    width: 0%;
    border-radius: 999px;
    background-color: $color_border;
    transition: $time_cycle all ease;
  }

  &:hover:after {
    width: 100%;
  }
}

@mixin scrollbar_style($width: 10px, $color_track: black, $color_thumb: orangered) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background-color: $color_track;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color_thumb;
  }
}